.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

[class*=__container] {
  max-width: 60.5rem;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 60.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 62.375em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.btn {
  max-width: 80px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: -0.01em;
}
@media (max-width: 992px) {
  .btn {
    text-align: right;
  }
}

.btn_active {
  background: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid #00B087;
}

.btn_inactive {
  color: #DF0404;
  background: #FFC5C5;
  border: 1px px solid #DF0404;
}

.wrapper__inners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.4375rem;
}
@media (max-width: 992px) {
  .wrapper__inners {
    display: block;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 306px;
          flex: 0 1 306px;
  background-color: #fff;
  min-width: 19.125rem;
  height: 74.875rem;
  padding: 2.25rem 1.75rem;
}
@media (max-width: 992px) {
  .sidebar {
    height: auto;
  }
}
.sidebar__title {
  position: relative;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.01em;
  padding-left: 40px;
  margin-bottom: 4.0625rem;
}
.sidebar__title::before {
  background: url(/src/img/aside/title-icon.svg) no-repeat center;
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 37px;
  height: 37px;
}
.sidebar__title span {
  color: #838383;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-left: 0.25rem;
}
.sidebar__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 992px) {
  .sidebar__list {
    margin-bottom: 2.5rem;
  }
}
.sidebar__link {
  position: relative;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #9197B3;
  font-weight: 500;
  height: 2.875rem;
  padding: 0.8125rem 0rem 0.8125rem 2.875rem;
  border-radius: 8px;
}
.sidebar__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.8125rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.25rem;
  height: 1.25rem;
}
.sidebar__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 19px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6px;
  height: 8px;
}
.sidebar__active {
  background: #5932EA;
  color: #fff;
}
.sidebar__item:first-child {
  margin-bottom: 1.875rem;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 1.875rem;
}
.sidebar__link_1:before {
  background: url(/src/img/aside/key-square.svg) no-repeat center;
}
.sidebar__link_2:before {
  background: url(/src/img/aside/3d-square.svg) no-repeat center;
}
.sidebar__link_2:after {
  background: url(/src/img/aside/chevron-right.svg) no-repeat center;
}
.sidebar__link_3:before {
  background: url(/src/img/aside/user-square.svg) no-repeat center;
}
.sidebar__link_3:after {
  background: url(/src/img/aside/chevron-right-white.svg) no-repeat center;
}
.sidebar__link_4:before {
  background: url(/src/img/aside/wallet-money.svg) no-repeat center;
}
.sidebar__link_4:after {
  background: url(/src/img/aside/chevron-right.svg) no-repeat center;
}
.sidebar__link_5:before {
  background: url(/src/img/aside/discount-shape.svg) no-repeat center;
}
.sidebar__link_5:after {
  background: url(/src/img/aside/chevron-right.svg) no-repeat center;
}
.sidebar__link_6:before {
  background: url(/src/img/aside/message-question.svg) no-repeat center;
}
.sidebar__link_6:after {
  background: url(/src/img/aside/chevron-right.svg) no-repeat center;
}

/*=========================================================*/
.manager-block__inners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.manager-block__image {
  max-width: 2.625rem;
  max-height: 2.625rem;
  overflow: hidden;
}
.manager-block__image img {
  width: 100%;
  height: 100%;
}
.manager-block__name {
  color: #000;
  letter-spacing: 0.01em;
}
.manager-block__profession {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.01em;
}

/*========================================================================*/
.content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 998px;
          flex: 0 1 998px;
  padding: 0 0.9375rem;
}
.content__name-user {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000;
  padding: 2.5625rem 0rem 3.1875rem;
}
.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.875rem 3.3125rem 2.5rem 2.375rem;
}
.content__header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content__header-title {
  font-size: 1.375rem;
  line-height: 1.5;
  color: #000;
  font-weight: 600;
  letter-spacing: -0.01em;
  padding-bottom: 0.5rem;
}
.content__header-active {
  color: #16C098;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}
.content__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.5rem;
  border-radius: 10px;
  max-width: 13.5rem;
  width: 100%;
  height: 2.375rem;
  background: #F9FBFF url(/src/img/content/search.svg) 11px 50% no-repeat;
}
.content__body {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}
.content__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
@supports (padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem )) {
  .content__table tr td:first-child {
    padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem );
  }
}
@supports not (padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem )) {
  .content__table tr td:first-child {
    padding-left: calc(0.875rem + 1.5 * (100vw - 20rem) / 42.375);
  }
}
.content__table th,
.content__table td {
  padding: 1.5rem 0rem;
}
.content__table th {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
@supports (padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem )) {
  .content__table th:first-child {
    padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem );
  }
}
@supports not (padding-left: clamp( 0.875rem , 0.1670353982rem  +  3.5398230088vw , 2.375rem )) {
  .content__table th:first-child {
    padding-left: calc(0.875rem + 1.5 * (100vw - 20rem) / 42.375);
  }
}
.content__table td {
  border-bottom: 1px solid #EEEEEE;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
@media (max-width: 992px) {
  .content__table thead {
    display: none;
  }
  .content__table tbody,
.content__table tr,
.content__table td {
    display: block;
    width: 100%;
  }
  .content__table tr {
    margin-bottom: 2.5rem;
  }
  .content__table td {
    text-align: right;
    padding-left: 50%;
    padding-right: 0.9375rem;
    position: relative;
  }
  .content__table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 0.9375rem;
    font-weight: bold;
    text-align: left;
  }
}
@media (max-width: 460px) {
  .content__table td {
    padding-left: 0;
  }
}

/*=================================================================================*/
.pagination {
  padding: 2rem 2.5rem 2.5625rem 2.375rem;
}
.pagination__inners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination__text {
  color: #B5B7C0;
  letter-spacing: -0.01em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 24px;
  padding: 0.375rem 0.5625rem;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: -0.01em;
}
.pagination__active {
  background: #5932EA;
  border: 1px solid #5932EA;
  color: #fff;
}
.pagination__link-last:before {
  background: url(/src/img/content/str-left.svg) no-repeat center;
  width: 0.75rem;
  height: 0.75rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pagination__link-next:before {
  background: url(/src/img/content/str-right.svg) no-repeat center;
  width: 0.75rem;
  height: 0.75rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #292D32;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  background-color: #FAFBFF;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}